        <div id="messages-box" class="col-md-9">
          <div class="row own">
            <div class="col-md-2"><strong>Ahmed Soliman</strong></div>
            <div class="col-md-10">I really love to code while I'm playing football
            I really love to code while I'm playing football I really love to code while I'm playing football
            I really love to code while I'm playing football
            I really love to code while I'm playing football
            I really love to code while I'm playing football
             </div>          
          </div>
          <div class="row">
            <div class="col-md-2">Ibrahim Zaki</div>
            <div class="col-md-10">I really love to code while I'm playing football</div>          
          </div>
        </div>