<div class="top-floaty" ng-show="! isOnline()">
  <div id="notifications">
    <div ng-show="isConnecting()" class="success">
      {{ initialisationStatus() }}
    </div>

    <div ng-show="isDisconnected()" class="warning">
      Connection Lost, retrying after {{ retryAfter }} seconds, <a href="" ng-click="reconnect()">Reconnect Now?</a>
    </div>
  </div>
</div>

<div id="everything" ng-class="{blur: !isOnline()}">
<div class="lefty" ng-include src="'views/messages.html'"></div>

<div class="righty" ng-include src="'views/members.html'"></div>
</div>
