    <div id="chat-window" class="container-fluid" ng-blur="away()">
      <div id="loader" class="row">
        <div class="col-md-offset-5 col-md-2 bg-info text-center" ng-show="socket.isConnected()">
          Connected: <strong>{{ socket.isConnected() }}</strong> - Initialised: <strong>{{ socket.isInitialised() }}</strong>
        </div>
      </div>
      <div class="row">
        <div ng-include src="'partials/messages.html'"></div>

        <div ng-include src="'partials/members.html'"></div>
      </div>
      <div class="row">
        <div class="col-md-8">
        <form role"form" class="form-inline"></form>
          <input for="message" class="form-control" placeholder="Say Something..." type="text" />
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary">Send</button>
        </div>
        <div class="col-md-3"></div>

      </div>
    </div>
