    <div id="chat-window" class="container-fluid" ng-blur="away()">
      <div id="loader" class="row">
        <div class="col-md-offset-5 col-md-2 bg-danger text-center" ng-show="! socket.isOnline()">
          Not Ready!
        </div>
      </div>
      <div class="row">
        <div ng-include src="'views/messages.html'"></div>

        <div ng-include src="'views/members.html'"></div>
      </div>
      <div class="row">
      <form name="msgForm" class="form" ng-submit="sendMessage()">
        <div class="col-md-8">
          <input for="message" class="form-control" placeholder="Say Something..." type="text" ng-model="msg" required>
          <span class="error" ng-show="myForm.input.$error.required">Required!</span>
        </div>
        <div class="col-md-1">
          <input type="submit" class="btn btn-primary" ng-disabled="! socket.isOnline()" value="Send">
        </div>
        <div class="col-md-3"></div>
        </form>

      </div>
    </div>
