        <div id="members-box" class="col-md-3">
          <div id="myself">
            <a href="#" editable-color="user.info.color" onaftersave="updateUserInfo()"><div class="user-color" style="background-color: {{user.info.color}}"></div></a>
             <a href="#" editable-text="user.info.name" onaftersave="updateUserInfo()" title="{{ user.username}}">{{user.info.name}}</a>
          </div>
          <ul id="member-list" ng-repeat="member in members">
            <li title="{{member.username}}"><div class="user-color" style="background-color: {{member.info.color}}"></div> {{ member.info.name }}</li>
          </ul>
        </div>
