 <ul id="member-list">
  <li ng-show="user" class="myself">
    <a href="#" editable-color="user.info.color" onaftersave="updateUserInfo()">
      <div class="avatar" style="background-color: {{user.info.color}}">
        <i class="fa fa-user"></i>
      </div>
    </a>
    <span><a class="myself" href="#" editable-text="user.info.name" buttons="no" onaftersave="updateUserInfo()" title="{{ user.username}}">{{user.info.name}}</a> <!-- — <a href="#" ng->verify</a> --></span>
  </li>
  <div ng-repeat="member in members">
    <li title="{{member.username}}"><div class="avatar" style="background-color: {{member.info.color}}"><i class="fa fa-user"></i></div><span>{{ member.info.name }}</span></li>

  </div>
</ul>

<div id="logo">
  <div class="about">
    Open a chat room on the fly and share the link with your friends, invite others by giving them this unique link.
  </div>
  <a href="http://instalk.im">
    <img src="images/instalk-logo.png" height="100" alt="Instalk Logo">
  </a>
  <div id="lag" ng-bind="'lag is ' + getLag() + 'ms'" ng-class="{normal: getLag() < 300, warn: getLag() >= 300 && getLag() < 700, bad: getLag() > 700}"></div>
   <div id="social-links">
      <a href="https://github.com/AhmedSoliman/instalk"><i class="fa fa-github"></i></a>
      <a href="http://twitter.com/instalkIM"><i class="fa fa-twitter"></i></a>
   </div>
</div>

