 <ul id="member-list">
  <li>
    <a href="#" editable-color="user.info.color" onaftersave="updateUserInfo()">
      <div class="avatar" style="background-color: {{user.info.color}}">
        <i class="fa fa-user"></i>
      </div>
    </a>
    <span><a class="myself" href="#" editable-text="user.info.name" buttons="no" onaftersave="updateUserInfo()" title="{{ user.username}}">{{user.info.name}}</a> (me)  <!-- — <a href="#" ng->verify</a> --></span>
  </li>
  <div ng-repeat="member in members">
    <li title="{{member.username}}"><div class="avatar" style="background-color: {{member.info.color}}"><i class="fa fa-user"></i></div><span>{{ member.info.name }}</span></li>

  </div>
</ul>

<div id="logo">
  <div class="about">
    Open a chat room on the fly and share the link with your friends, invite others by giving them this unique link.
  </div>
  <a href="http://instalk.im">
    <img src="images/instalk-logo.png" height="50" alt="Instalk Logo">
  </a>
</div>

