<div class="topic">
  <a href="#" editable-text="room.topic" buttons="no" onaftersave="setRoomTopic()">{{ room.topic || 'Pick a topic for this room' }}</a>
</div>

<div id="messages">
  <div ng-repeat="message in messages" class="message-row">
    <div ng-switch="message.o">
      <div ng-switch-when="msg">
        <div ng-include="src='views/txt-message.html'"></div>
      </div>
      <div ng-switch-when="joined">
        <div ng-include="src='views/joined-message.html'"></div>
      </div>
      <div ng-switch-when="left">
        <div ng-include="src='views/leftroom-message.html'"></div>
      </div>
      <div ng-switch-when="set-user-info">
        <div ng-include="src='views/userinfo-changed-message.html'"></div>
      </div>
      <div ng-switch-when="set-room-topic">
        <div ng-include="src='views/roomtopicchange-message.html'"></div>
      </div>
    </div>
  </div>
</div>

<div id="typing-now" ng-show="isSomeoneTyping()">
      <div class="loading6"></div>
      <span ng-show="isSomeoneTyping()">{{whoIsTyping()}} typing...</span>
  </div>
  <!-- {{whoIsTyping()}} -->
<!-- New Message Box -->
<form name="msgForm" id="new-message" ng-submit="sendMessage()">
  <input for="message" type="text"  placeholder="Say something..." ng-model="$parent.form.msg" ng-keyup="beginTyping($event)" autofocus required>
  <button type="submit" ng-disabled="! isOnline() || ! $parent.form.msg"><i class="fa fa-chevron-right"></i></button>
</form>
