$icon-font-path: "/vendor/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

ul,li { list-style-type: none;
        list-style-position:outside;
        margin:0;
        padding:0; }

#chat-window {
    height: 100vh;
    #background-color: darkgray;
}

#messages-box {
    min-height: 90vh;
}
#members-box {
    min-height: 90vh;
    font-size: 1.3em;
}
#member-list {
  list-style: none;
}

.own {
    background-color: lightyellow;
}

#myself {
    border-bottom: 1px solid #e5e5e5;
}

.user-color {
  display: inline-block;
  width: 15px;
  height: 15px;
}
