@import "compass-mixins/lib/compass/css3/transition";
@import "compass-mixins/lib/compass/css3/box-sizing";
@import "compass-mixins/lib/compass/css3/text-shadow";
@import "compass-mixins/lib/compass/css3/filter";

$new-message-height: 100px;
$avatar-size: 30px;
$foreground-color: #222;
$topic-height: 50px;
$light-color: #fefefe;
$blue: #5192f2;
$gray-color: #f4f4f4;
$brand-orange: #ff662d;
$serif-font-family: 'Droid Serif', 'Georgia', serif;
$sans-font-family: 'Droid Sans', sans-serif;
$pad: 15px;

* {
  @include box-sizing(border-box);
}


html {
  overflow: hidden;
}
body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font: 13px/15px $sans-font-family;
  color: $foreground-color;
}
a {
  @include transition(color 0.3s linear);
  text-decoration: none;
  border-bottom: dashed 1px #222;
  color: $foreground-color;
}
#chat-window {
  position: absolute;
  min-width: 960px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: $serif-font-family;
  font-size: 1.2em;
  background: silver;
}

.topic {
  background: #f4f4f4;
  height: $topic-height;
  border-bottom: solid 1px rgba(228, 228, 228, 1);
  vertical-align: middle;
  text-align: center;
  line-height: $topic-height;
  font-size: 1.4em;

}

.top-floaty {
  position: absolute;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.5) url('../images/instalk-logo-lrg.png') no-repeat fixed center;
  background-size: 400px auto;
  display: block;
  opacity: 1;
  z-index: 9999;
  #notifications {
    font-family: $sans-font-family;
  }
  #notifications div {
    margin: 0 auto;
    padding: 10px;
    display: block;
    width: 450px;
    text-align: center;
    vertical-align: middle;
  }
  a {
    color: white;
    border-color: white;
  }
  &.ng-hide-add, &.ng-hide-remove {
    @include transition(linear 0.8s all);
    display:block!important;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove {
    opacity:0;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }
}

.blur {
  @include filter(blur(2px));
}
.warning {
  background: #e54833;
  color: #fff;
}
.success {
  background: #30f26b;
  color: #219321;
}
.lefty {
  position: absolute;
  background: $light-color;
  color: #222;
  left: 0;
  top: 0;
  width: 75%;
  bottom: 0;
  overflow: hidden;
}

.righty {
  position: absolute;
  background: #140024;
  color: $light-color;
  right: 0;
  top:0 ;
  width: 25%;
  bottom: 0;
  padding: 15px;
  overflow: hidden;
  z-index: 99;
  a {
    color: $light-color;
    border-color: $light-color;
  }
}

#messages {
  position: absolute;
  bottom: $new-message-height + 20px;
  top: $topic-height;
  width: 100%;
  padding: 15px 25px;
  overflow: auto;
}

.fa-user {
  line-height: inherit;
}

#new-messages-notification {
  color: $brand-orange;
  display: table-cell;
  visibility: 0.5;
  z-index: 999;
  text-decoration: none;
  border: none;
  position: absolute;
  bottom: $new-message-height + 40;
  right: 40px;
  cursor: pointer;
}

#new-message {
  position: absolute;
  bottom: 0;
  padding: 12px 25px;
  width: 100%;
  border-top: solid 1px rgba(228, 228, 228, 1);
  height: $new-message-height;
  background: $gray-color;
  z-index: 90;
  textarea {
    width: 90%;
    height: 90%;
    border: none;
    font-size: 1.2em;
    line-height: 1.2em;
    float: left;
    padding: 0 15px;
    outline: none;
    resize: none;
    background: none;
    &:focus, &:hover {
      border: none;
      //border-bottom: dashed 1px #E86850;
    }
    &:invalid {
      border: none;
      box-shadow: none;
    }
  }
  button[type="submit"] {
    height: 100%;
    width: 10%;
    float: left;
    border: none;
    outline: none;
    padding: 0;
    font-size: 2em;
    background: none;
    color: $brand-orange;
    &:hover {
      color: #ffa98f;
    }
    &:disabled {
      color: silver;
    }

  }
}

#member-list {
  font-family: $sans-font-family;
  list-style: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 0 auto;
  bottom: 215px;
  overflow: auto;
  li.myself {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    font-weight: 700;
  }

  .editable-click {
    color: white;
    border: none;
    text-decoration: none;
  }

  input[type="color"].editable-input {
    text-align: center;
    color: $foreground-color;
    width: 40px;
    height: 30px;
  }

  .editable-input {
    text-align: center;
    color: $foreground-color;
    width: 100%;
  }
  .editable-wrap {
    width: 80%;
    padding-bottom: 15px;
  }
  .editable-buttons > button {
    height: 30px;
    border: none;
    background: darkbrown;
  }
  .editable-buttons > button[type="submit"] {
    background: green;
  }

  li {
    cursor: default;
    @include transition(background 0.3s linear);
    padding: 5px;
    span {
      margin-left: 10px;
      a {
        color: white;

      }
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  line-height: $avatar-size;
  display: inline-block;
}

#lag {
  text-align: center;
  font-size: 0.6em;
  &.normal {
    color: #3D3D3D;
  }
  &.warn {
    color: #FF7E31;
  }
  &.bad {
    color: #FF0000;
  }
}

#marker {
  clear: both;
  height: 3px;
  background-color: #CA93D0;
}

#social-links {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  a {
    margin: 0 4px;
    border: none;
    text-decoration: none;
  }
}
#logo {
  font-family: $sans-font-family;
  line-height: 1.1em;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
  height: 245px;
  right: 0px;
  overflow: hidden;
  border-top: none;
  img {
    display: block;
    margin: 0 auto;
  }
  .about {
    display: block;
    width: 90%;
    text-align: center;
    font-size: 0.75em;
    margin: 0 auto;
    padding: 15px;
    color: $gray-color;
  }
}
// Grid System
.grid {
  margin: 0 0 $pad 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}


[class*='col-'] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.shift-1 {
  margin-left: 24.33%;
}
.col-2 {
  width: 66.66%;
}
.col-3 {
 width: 9%;
}
.col-1 {
  width: 24.33%;
}

.message-row {
  @include transition(0.3s linear all);
}


.message-row.ng-enter,
.message-row.ng-move {
  opacity: 0;
  color: $blue;
  overflow: hidden;
}

.message-row.ng-move.ng-move-active,
.message-row.ng-enter.ng-enter-active {
  opacity: 1;
}

.message-row.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.message-row.ng-leave.ng-leave-active {
  opacity: 0;
}
/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
// End of Grid System
.message {
  max-width: 1024px;
  margin: 0 auto;
  // background: blue;
  line-height: $avatar-size;
  padding: 10px;
  .avatar {
    color: white;
  }
  .sender span {
    padding-left: 10px;
  }
  .message-body {
  }
  .time {
    font-size: 0.8em;
    text-align: right;
  }
}

.event {
  background: $gray-color;
  font-family: $sans-font-family;
  font-size: 0.8em;
  font-style: italic;
  line-height: 15px;
padding: 5px 10px;
  .avatar {
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 3px;

  }
}

a.editable-click {
  color: $foreground-color;
  border-color: $foreground-color;
}
.editable-input {
  text-align: center;
  width: 100%;
}
.editable-wrap {
  width: 80%;
}


#typing-now {
  position: absolute;
  z-index: 80;
  left: 0;
  bottom: $new-message-height;
  width: 100%;
  background: #fff2bd;
  height: 25px;
  font-size: 0.8em;
  font-family: $sans-font-family;
  line-height: 15px;
  padding: 5px 42px;
  font-style: italic;
  overflow: hidden;
  color: #c19c00;
  display: flex;
  opacity: 1;
  span {
    padding-left: 15px;
  }
  &.ng-hide-add, &.ng-hide-remove {
    @include transition(linear 0.2s all);
    display:flex!important;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove {
    opacity:0;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }

}
.loading6{
  width: $avatar-size / 2;
  height: $avatar-size / 2;
  background: $blue;
  border-radius: 50%;
  display: flex;

}
.loading6:before{
  content:'';
  width: 0;
  height: 0;
  margin:auto;
  border: 2px solid #fff;
  border-radius: 50%;
  animation:loading6-ani1 1s infinite;
}
@keyframes loading6-ani1{
  70%{
    width: $avatar-size / 2;
    height: $avatar-size / 2;
  }
  100%{
    width: $avatar-size / 2;
    height: $avatar-size / 2;
    border-width: 0;
  }
}

.own {
  background-color: #fffce3;
}

